click>=8.0.1
python-dateutil>=2.8.1
colorama>=0.4.4
faraday-plugins>=1.4.5
jsonschema>=3.2.0
PyYAML>=5.4.1
simple-rest-client>=1.0.8
tabulate>=0.8.9
validators>=0.18.2
spinners>=0.0.24
termcolor>=1.1.0
cmd2>=2.0.0
log-symbols>=0.0.14
